.col-md-4{
    margin-top: 5%;
}

.col-md-8{
    margin-top: 5%;
}

h1{
    font-weight: lighter;
    font-size: 30px;
    margin-top: 5%;
    font-family: "Lucida Console", "Courier New", monospace;
}